// color variables

@import './modal';
@import './notifications';

// laying down some basics
body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro';
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

h1, h2 { font-family: 'Eczar' }
h1 { font-size: 24px; font-weight: 500; }
h2 { font-size: 18px; font-weight: 400; }

.clickable {
  cursor: pointer;
}

.app-container {
  display: flex;
  position: relative;
  height: 100%;
  margin: auto;
}
